// colors
$black: #2f3234;
$white: #fff;
$grey: #5E6163;
$red: #e45028;
$yellow: #f9b43b;
$orange: #f08c33;
$green: #00FF00;

// //breakpoints
// $tablets: 768px;
// $phones: 480px;

// normalize
@import "_misc/normalize.scss";

// // media
@import "_misc/media.scss";

// setup
//@import "_misc/mixins.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";



// blocks
@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/to-next-section.scss";
@import "blocks/title.scss";
@import "blocks/best.scss";
@import "blocks/reviews.scss";
@import "blocks/form.scss";
@import "blocks/team.scss";




