.best {
    background: url(../img/background/best-bg.jpg) center center / cover no-repeat;
}

.best__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include phones {
        flex-direction: column;
    }
    
}

.best__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1%;

    @include phones {
        flex-direction: row;
        text-align: start;
        align-items: flex-start;
        margin: 5% 0;    
    }
}

.best__item-picture {
    margin-bottom: 10%;
    height: rem(80px);
    @include phones {
        margin: 0 5% 0 0;    
    }
}

.best__item-img {
    height: 100%;
}

.best__item-title {
    font-family: Lifehack;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(24px);
    margin-bottom: 6%;
    
    @include phones{
        margin-bottom: 4%;
    }

}

.best__item-desc {
    font-size: rem(14px);
    line-height: rem(24px);
}