.hero {
    background: url(../img/background/hero-bg.jpg) center center / cover no-repeat;
    position: relative;
}

.hero__content {
    display: flex;
    align-content: center;
    justify-content: space-between;

    @include for-tablet-landscape-up {
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: flex-start;
    }
}

.hero__desc {
    color: $red;
    font-family: lifehack;
    font-size: rem(65px);
    font-weight: 500;  
    
    &--green {
        color:$green;
    }
    
}

.hero__text {
     display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 4%;
    @include for-tablet-landscape-up {
        text-align: center;
        padding: 0;
    }

}

.hero__container {
    flex: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.hero__picture {
    margin-right: 5%;    
    @include for-tablet-landscape-up {
        margin: 0;
        max-height: 50%;
    }

}

.hero__burger-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}