.hero {
    background: url(../img/background/hero-bg.jpg) center center / cover no-repeat;
    position: relative;
}

.hero__container {
    flex: 0.85;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.hero__content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    //height: 100%;

    @include tablets {
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: flex-start;
    }
}

// .hero__picture,
// .hero__text {
    
//     @include tablets{
//         width: 100%;
//         height: 50%;
//     }
// }

.hero__picture {
    padding: 0 3% 0 0; 
    max-width: 50%; 
    
   
    @include tablets {
        margin: 0 0 2% 0;
        height: 50%;
        max-width: 100%;
    }
}

.hero__burger-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__text {
    display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   padding-top: 4%;
    
   
   @include tablets {
       text-align: center;
       padding: 0;
       //line-height: 1.2;
       justify-content: flex-start;
    }
    @include phones {
        justify-content: center;
     }


}

.hero__desc {
    color: $red;
    font-family: lifehack;
    font-size: rem(65px);
    line-height: 60px;
    font-weight: 500;
    text-shadow: $white 0.5px 0.5px 0, $white -0.5px -0.5px 0, 
    $white -0.5px 0.5px 0, $white 0.5px -0.5px 0; 
    
    &--green {
        color:$green;
    }
    
    @include phones {
        font-size: 54px;  
        letter-spacing: -1px;      
    }
   
}

