.title {
    color: $yellow;
    font-family: gagalin;
    font-size: rem(72px);
    line-height: rem(82px);
    font-weight: 400;
    white-space: nowrap;
    // text-shadow: $white 1px 1px 0, $white -1px -1px 0, 
    // $white -1px 1px 0, $white 1px -1px 0; 
    margin-bottom: 4%;

    @include tablets {
        font-size: 72px;
    }

    @include phones {
        font-size: 50px;
        letter-spacing: -1px;
    }

    &--hero {
        margin-bottom: 0;

        @include phones {
            font-size: 58px;
            
        }
    }

    &--menu {
        color: $white;  
        padding: 2%; 
        
        @include tablets {
            display: none;
        }
    }
    
  

   

    &--order {
        text-align: center;
        
        @include tablets {
            white-space: normal;
            line-height: rem(60px);
        }
    }

    &--color-black {
        color: $black;
        text-align: center;       
    }
}