.to-next-section {
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: rem(29px);    
    height: rem(14px);
    background: url(../img/svg/arrow-scroll.svg) center center / contain no-repeat; 
    border: none;
    cursor: pointer;

}